.white {
    background-color: #fafafa;
    float: left;
    font-family: 'Baloo Bhai 2', cursive, bold;
}

.white h2 {
    background-color: #ffcdd2;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive, bold;
}

.white li {
    color: black;
    float: left;
    font-size: 20px;
}

.black {
    background-color: #616161;
    float: left;
    font-family: 'Baloo Bhai 2', cursive, bold;
}

.black li {
    color: white;
    float: left;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive, bold;
}

.black h2 {
    background-color: #ffcdd2;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive, bold;
}

html body {
    background-color: #ef9a9a;
}

.main {
    background-color: #ef9a9a;
}

.input-field {
    background-color: darkcyan;
    padding: 10px;
    text-align: center;
}

.input-field Button {
    margin: 10px;
}

.title {
    background-color: #ffcdd2;
    border-radius: 15px;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    text-align: center;
}

.editModeInput {
    width: 70%;
}
.viewStyle{
    display: none;
}
.editStyle{
    display: none;
}

